body {
    background-color: #0F4C75;
    margin: 0;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #BBE1FA;
}

a {
    color: #BBE1FA;
    margin: 10px 10px 10px;
    font-size: 1.15rem;
    text-decoration: none;
}

a:hover {
    color: #3282B8;
}

h1 {
    margin: 0;
    display: inline-block;
    top: 300px;
}

h2 {
    font-family: "Sofia", sans-serif;
    font-size: 3rem;
}



hr {
    border-color: #BBE1FA;
    border-style: dotted none none;
    border-width: 10px;
    height: 0;
    width: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/*-------------------CLASSES-------------------*/
.desc {
    margin: 0;
}

.div1 {
    background-color: #1B262C;
    color: #3282B8;
    height: 600px;
    position: relative;
    padding-top: 100px;
}

.div2{
    background-color: #0F4C75;
    color: #BBE1FA;
    height: 600px;
    position: relative;
}

.underline {
    text-decoration: underline;
}

.name {
    font-family: "Sofia", sans-serif;
    font-size: 65px;
    
}

.PP {
    width: 40%;
}

.skill-row {
    width: 50%;
    margin: auto;
    margin-bottom: 100px;
    text-align: left;
    line-height: 2;
}

.skill-title{
    margin: 0%;
}

.skill-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-img2 {
    width: 25%;
    float: right;
    margin-right: 30px;
}

.profile {
    width: 50%;
    margin: auto;
    font-size: 2 em;
    margin-top: 10px;
}

.contact {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    background-color: #1B262C;
    color: #3282B8;   
    padding-top: 40px;
    padding-bottom: 20px;
}

/*--------------------- ---------------------*/
#city {
    position: absolute;
    width: 100%;
    height: 60%;
    left: 0%;
    bottom: 0px;
}

#moon {
    position: absolute;
    height: 20%;
    top: 3%;
    right: 1.5%;
}



